POSTGRES_DB=sns_automation
POSTGRES_USER=sns
POSTGRES_PASSWORD=sns100!
POSTGRES_PORT=15432

DATABASE_URL=postgresql+psycopg://sns:sns100!@localhost:15432/sns_automation
DATABASE_URL_PSQL=postgresql://sns:sns100!@localhost:15432/sns_automation
